* {
	font-family: Arial:  Verdana, sans-serif;
	color: #665544;
	text-align: center;
}

body { 
	width: 960px;
	margin: 0 auto;
	border: groove;
	background-color: skyblue;
 }

nav {
	background-color: #efefef;
	padding: 10px;
	margin: 10px;
}

li {
	display: inline;
	padding: 5px;
}

section {
	overflow: auto;
	height: 100%;
}

main {
	background-color: #efefef;
	padding: 10px;
	margin: 10px;
	float: center;
	font-family: fantasy;
}

article {
	background-color: #efefef;
	padding: 10px;
	margin: 10px;
	width: 280px;
	font-family: fantasy;
	margin: auto;
}

.mark {
	margin: auto;
}

footer {
	background-color: #efefef;
	padding: 10px;
	margin: 10px;
}